

#main {

	border-style: solid;
	border-color: #cc5200;
	height:700px;
	position:relative;
	top:120px;
	border-radius: 25px;
	background-image: url("../images/chrome2.jpg");
    }

body {

	background-image: url("../images/final.jpg");
}

h1{
	font-style:italic;
	font-family: Troika;
	font-size: 50px;
	font-weight: bold;
	color:#cc5200;
	background-color: black;
	margin-bottom:  50px;

	
}
#panel{
	background-color: #ccc;
	border-color: black;
	text-align: center;
	border-radius: 25px;

}

#button {
	
	position: relative;
	top:150px;
	display: block;
	margin:auto;
	font-family: Troika;
	color:#cc5200;
	width:150px;
	height:75px;
	font-size: 40px;
	background-color: #ccc;


}
#button p {
	position:relative;
	
}

#display {
	display: block;
	margin:auto;
	background-color: #ccc;
	width:620px;
	height:500px;
	border-radius: 25px;
}

